# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW5zcGlyZWQtYmFkZ2VyLTI5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_ClMZ6y8jNsbO8zCm7nCBVk50fW9l0jJ5i9UCWWwdTn

# MongoDB
MONGODB_URI=mongodb+srv://onestep:onestep@cluster0.g6qgp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0